main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full {
  width: 1200px;

}

.full1 {
  width: 1200px;
  /* height: auto; */
  display: grid;
  grid-template-columns: 590px 590px;
}

ul {
  margin-bottom: 124px;
}