.aside {
  width: 164px;
  height: 580px;
  position: fixed;
  margin-top: 50px;
  margin-bottom: 322px;
  padding-top: 30px;
  font-size: 13px;
}
.line1 {
  color: #525960;
  display: flex;
  align-items: center;
  padding-left: 6px;
} 

.space1 {
  margin-bottom: 20px;
}

.space2 {
  margin-bottom: 8px;
  font-size: 11px;
}

.browser svg {
  margin-right: 4px;
}

.browser {

  background-color: #dedede;
  height: 32px;
  font-weight: 700;
  color: black;
  border-right: 3px solid rgba(255, 136, 0, 0.966);
}

.odd {
  height: 100px;
  padding-left: 20px;
  margin-top: 0;
  flex-direction: column;
}

.collectives {
  color: #525960;
  font-size: 11px;
  padding-left: 5px;
  padding-right: 8px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.collectives svg { 
  margin-top: 5px;
}

.exploreCollectives {
  padding-left: 5px;
  display: flex;
}

.exploreCollectives svg {
  margin-right: 5px;
  margin-top: 2px;
}

.odd1 {
  margin-top: 20px;
  font-size: 12px;
}

.boxTeams {

  margin-top: 15px;
  border-top: 1px solid #b2b2b2;
  border-left: 1px solid #b2b2b2;
  border-bottom: 1px solid #b2b2b2;
  border-radius: 2px;
  height: 260px;
  padding: 12px 12px 6px;
  /* background-color: aqua; */
}

.boxTeams div p {
  text-align: left;
  margin: 0;
  color: #525960;
}
.boxTeams div p b {
  color: black;
}

.boxTeams img {
  height: 114px;
  width: 139px;
}

.btnn1 {
  color: white;
  font-size: 11px;
  width: 139px;
  height: 28px;
  border: none;
  border-radius: 2px;
  background-color: rgb(255, 119, 0);
  margin-bottom: 7px;
}
.btnn2 { 
  color: #525960;
  font-size: 11px;
}