body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  width: 100vw;
  height: 50px;
  height: auto;
  background-color: white;
  display: flex;
  justify-content: center;
  border-top: 3px solid rgb(253, 144, 2);
  box-shadow: 0px 0.5px 5px  rgb(217, 217, 217);
}

ul {
  display: flex;
  width: 230px;
  padding: 0;
  list-style: none;
  font-size: 13px;
  justify-content: space-around;
} 

header li a {
  text-decoration: none;
  color: #525960;
}

.img1 {
width: 166px;
display: flex;
justify-content: center;
}

img {
  width: 150px;
  height: 30px;
}

.one {
  width: 1270px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchInput {
  width: 704px;
  height: 32px;
  border: 1px solid rgb(168, 168, 168);
  border-radius: 3px;
  padding-left: 10px;
  font-size: 13px;
}

.btn1 {
  width: 60px;
  height: 33px;
  border-radius: 3px;
  border: 0.5px solid #39739d;
  color: #39739d;
  background-color: #e1ecf4;
}
.btn2 {
  width: 70px;
  height: 33px;
  border-radius: 3px;
  color: white;
  background-color: #0a95ff;
  border: 0.5px solid #39739d;
}
