body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  width: 100vw;
  height: 50px;
  height: auto;
  background-color: bisque;
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

header li a {
  text-decoration: none;
}

img {
  width: 150px;
  height: 30px;
}

.one {
  width: 1264px;
  height: 47px;
  display: flex;
  align-items: center;
}

.icon {
  /* padding-right: 25px;
  background: url("../../../public/search.png") no-repeat right;
  background-size: 20px;
  left: 0; */
  width: 704px;
  height: 32px;
  border: 1px solid rgb(168, 168, 168);
  border-radius: 3px;
}

.btn1 {
  width: 60px;
  height: 33px;
}
.btn2 {
  width: 60px;
  height: 33px;
}
